@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.app {
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}