@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.app {
  min-height: 100vh;
  display: flex;
  background-image: radial-gradient(
    circle 815px at 23.4% -21.8%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100.2%
  );
  color: aliceblue;
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.set-img{
  height: 70vh;
  background-image: url(https://media.discordapp.net/attachments/1038329663187062804/1109789539062521937/1.jpg?width=700&height=478);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}